---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero'
import Form from '@/components/Form'

const seoData = {
  title: 'Home | Keziah Rackley-Gale | Web developer',
  description:
    'Web developer with a passion for UX design from Aotearoa New Zealand. I leverage the latest technologies to create websites that look and feel awesome.',
  image: { src: '', alt: '' },
  url: `${import.meta.env.BASE_URL}`,
}
---

<Layout seoData={seoData}>
  <Hero />

  <h2>Get in touch</h2>
  <Form client:visible />
</Layout>
