---
import Link from './Link.astro'
---

<section>
  <h1><span>Kia ora, I'm</span> Keziah.</h1>
  <p>
    A <strong>web developer</strong> from Aotearoa New Zealand.
  </p>
  <Link href='#contact'>Get in touch</Link>
  <Link href='#projects'>View projects</Link>
</section>
