---
interface LinkProps {
  label: string
  href: string
  isExternal?: boolean
}

const { label, href, isExternal = false } = Astro.props as LinkProps

const linkConfig = {
  href,
  ...(isExternal ? { rel: 'noopener noreferrer', target: '_blank' } : {}),
}
---

<a {...linkConfig}><slot></slot></a>
